/*-------------------------------------------------------------------*/
 /* styling for Student Info chrome extension help page              */
 /*------------------------------------------------------------------*/

body {
	color: black;
	background-color: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-left: 12px;
	margin-right: 12px;
}

.title {
  color: #fff;
  background-color: #115e63;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 2px;
}

.topic {
  color: #115e63;
  background-color: white;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 6px;
  padding: 2px 2px;
  display: inline-block;
  min-width: 60%;
  margin-top: 10px;
}

.topic-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 20px;
}

.topic-col {}
.
topic-col li:not(:last-child) {
  margin-bottom: 6px;
}

.topic-col ul {
  margin-top: 2px;
}

.topic-col li {
  clear: left;
}

.topic-col0 {}

.topic-col1 {}

.topic-break {
  margin-top: 20px;
}

.item-label {
  font-weight: bold;
  font-style: italic;
}

.badge-group {
  margin-bottom: 20px;
}

.badge-images {
  margin-left: 10px;
  margin-right: 8px;
  float: left;
}

.badge-images img {
  width: 33px;
  height: auto;
  vertical-align: middle;
}

.after-images {
  margin-top: 10px;
}

#spreadsheetSnapshot {
  width:440px; 
  border: 1px solid black; 
  border-radius: 6px;
  margin-right: 10px;
}

#configureSnapshot {
  width:440px; 
  margin-right: 10px;
}
